.home-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.home-image-section {
  position: relative;
  width: 50%;
  height: 100%;
}

.home-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-content-section {
  width: 50vw; /* Define largura exata de metade da viewport */
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 6rem; /* Aumenta o espaçamento lateral */
  background-color: #fff; /* Define o fundo branco */
  color: #000; /* Define a cor do texto principal como preto */
  font-family: 'Poppins', sans-serif;
}

.home-content-section h1 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.home-content-section p {
  font-size: 20px;
  color: #333;
  line-height: 1.6;
  margin-bottom: 2.5rem;
  font-weight: 400;
}

.home-button {
  font-family: 'Poppins', arial;
  background-color: #2d401b; /* Cor verde escura do botão */
  color: white;
  border: none;
  padding: 12px 28px;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 50px; /* Deixa o botão bem arredondado */
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-self: flex-start;
  display: flex;
  align-items: center;
  gap: 8px; /* Espaço para o ícone (se adicionar) */
}

.home-button:hover {
  background-color: #2c4a3f;
}